main {
    margin: 5%;

}

/* header style */
header {
    margin: 20px;

    display: flex;
    justify-content: space-between;

}

.navigation {
    margin-top: 20px;

}


.navigation-button {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;

}

/* Brand New Group of Architects Style */

.brand {
    margin-bottom: 30px;
}

.brand-new {
    width: 100%;
    height: 225px;
    text-align: center;

}

.brand-title {
    font-weight: bolder;
}

.button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


}

section .brand img {
    width: 1440;
    height: 700px;
}




/* Quick list of Our Features Style */

.quick-list {
    display: flex;
    align-items: center;
}



/* Features you will love & enjoy Style */


.love {

    display: flex;
    justify-items: center;
    margin-top: 30px;


}

.enjoy {
    text-align: left;
    margin-right: 80px;
}

.love-img {
    position: relative;
    width: 50%;
}

section .love img {
    width: 708px;
    height: 982px;
}

.section-love-button {
    position: absolute;
    bottom: 1%;
    left: 1%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    border-radius: 5px;
    text-align: left;
}

/* Some Facts Style */
.section-facts {
    margin-bottom: 20px;

}

.some-facts {
    width: 542px;
    height: 82px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.facts-img {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.section-love-button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

/* Our Sponspors Style */
.section-sponsor {
    margin-top: 20px;
    margin-bottom: 60px;
}

.sponsor {
    text-align: center;

}

.sponsor-img {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

/* Footer style */
footer {
    font-size: medium;
    text-align: center;
    background-color: burlywood;

}

/* mobile responsive */

@media only screen and (max-width: 688px) {


    header {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .brand img {
        width: 100%;
    }

    .quick-list {
        display: flex;
        flex-direction: column-reverse;
    }

    .love {
        display: flex;
        flex-direction: column;

    }

    .love img {
        width: 100%;
    }

    .section-facts {
        display: flex;
        flex-direction: column;
        width: 100%;
    }



    .facts-paragraph {
        width: 50%;
        text-align: left;
    }

    .sponsor-img {
        display: flex;
        flex-direction: column;
    }

    
    .foot {
        width: 100%;
        text-align: center;
    }
}